# Задание

In [1]:
import pandas as pd
data = pd.read_csv('kaggle_survey_2022_responses.csv',low_memory=False)
data=data.drop(0)

# pd.set_option('display.max_columns', None)
# pd.set_option('max_colwidth', None)
# name2question = data.iloc[0]

## Task 1

Узнай самый часто встречаемый возраст респондентов

In [2]:
print(str(data['Q2'].value_counts().iloc[:1]).split('\n')[1])
#data['Q2'].value_counts()

18-21    4559

## Task 2

Посчитай долю женщин среди русских участников опроса, которые уже не студенты. Результат округли до двух цифр после запятой

In [3]:
women=data[(data['Q4']=='Russia') & (data['Q3'] == 'Woman') & (data['Q5'] == 'No')]
members=data[(data['Q4']=='Russia') & (data['Q5'] == 'No')]
print(round(len(women)/len(members),2))

0.24

## Task 3

Найди среднее время заполнения опроса в **минутах**. Результат округли до двух знаков после запятой

In [4]:
columns=data[data.columns[0:]].to_numpy()
c,s=0,0
for i in columns:
    s+=int(i[0])
    c+=1
print(round(s/c/60,2))

168.17

## Task 4

Выведи топ-3 образовательных курса, которые указали респонденты. P.S Это вопрос Q6

In [5]:
q6_columns = [col for col in data.columns if col.startswith('Q6')]
courses = data[q6_columns].melt(var_name='question', value_vars=q6_columns)
for i in str(courses['value'].value_counts().iloc[:3]).split('\n')[1:-1]:
    print(i)

Coursera                                                 9699
University Courses (resulting in a university degree)    6780
Kaggle Learn Courses                                     6628

## Task 5

Узнай топ-5 языков программирования, которые регулярно используют Data Scientists в своей работе

In [6]:
l=[]
q12_columns = [col for col in data.columns if col.startswith('Q12') and col!='Q12_14']
for i in data[q12_columns]:
    dslangs = pd.crosstab(data[i], data['Q23'], margins=True)
    l.append(dslangs['Data Scientist'])
l=sorted(l,key=lambda x:x[0],reverse=True)
for i in range(5):
    print(str(str(l[i]).split()[1]) + ' ' + str(str(l[i]).split()[2]))

Python 1808
SQL 1140
R 530
Bash 248
Javascript 187

## Task 6

Узнай средний доход среди 'Data Scientist' специалистов и средний доход среди 'Machine Learning/ MLops Engineer' \
Т.к. в колонке Q29 указан промежуток, то возьми среднее значение из промежутка. 

Например: 
- '15,000-19,999' - 17500, 
- '125,000-149,999' - 137500. 
- \> $1,000,000 - оставляем 1000000

Средние доход **округли до целого.**

In [7]:
def interval(s):
    x='>$,'
    for i in s:
        if i in x:
            s=s.replace(i,'')
    return round(sum([int(i) for i in s.split('-')])/len(s.split('-')))

salaries=pd.crosstab(data['Q29'],data['Q23'],margins=True)
ds=[i.split() for i in str(salaries['Data Scientist'][0:]).split('\n')[1:-2]]
ml=[i.split() for i in str(salaries['Machine Learning/ MLops Engineer'][0:]).split('\n')[1:-2]]
cds,sds,cml,sml=0,0,0,0
for i in ds:
    cds+=int(i[1])
    sds+=interval(i[0])*int(i[1])
for i in ml:
    cml+=int(i[1])
    sml+=interval(i[0])*int(i[1])
print('Data Scientist: ' + str(round(sds/cds)))
print('Machine Learning/ MLops Engineer: ' + str(round(sml/cml)))

Data Scientist: 70337
Machine Learning/ MLops Engineer: 67438

## Дополнительно

Найди какой-нибудь интересный инсайт из этих данных. Пиши свои интересные инсайты в чат проекта с хэштегом.
#инсайт

Автор самого интересного инсайта получит p2p баллы. Поверь, они тебе понадобятся

In [8]:
# Код тут